<%= form_for(@snippet) do |f| %>

  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>
      <ul>
      <% @snippet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%#= f.label :snippet_title %><br> -->
    <%= f.text_field :snippet_title, placeholder:"Title" %>
  </div>
  <div class="field">
    <!-- <%#= f.label :snippet_description %><br> -->
    <%= f.text_area :snippet_description, placeholder:"Description" %>
  </div>
  <div class="field">
    <!-- <%#= f.label :snippet_content %><br> -->
    <%= f.text_area :snippet_content, placeholder:"Snippet", rows:12 %>
  </div>
  <!-- <div class="field">
     f.label :snippet_view_count
     f.number_field :snippet_view_count
  </div> -->
  <div class="actions">
    <!-- <%#= hidden_field_tag 'user_email', @snippetuser.email  %> -->
    <%= f.submit %>
  </div>
<% end %>


<%= link_to "Back", "/index", :class => "button" %>

<!-- HACK: Redirects to Heroku Dashboard page of the Application -->
<!-- <button class="return_to_dashboard">Back</button> -->

<script>
$('.return_to_dashboard').click(function(){
  window.location.replace("http://rorsnippet.herokuapp.com/index");
});
</script>
