<p id="notice"><%= notice %></p>

<h1>All the Snippets</h1>

<table>
  <thead>
    <tr>
      <th>Snippet Title</th>
      <th>Snippet Description</th>
      <!-- <th>Snippet Content</th> -->
      <!-- <th>Snippet View count</th> -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.snippet_title %></td>
        <td><%= snippet.snippet_description %></td>
        <!-- <td><%= snippet.snippet_content %></td> -->
        <!-- <td><%= snippet.snippet_view_count %></td> -->
        <td><%= link_to 'Show', snippet %></td>
        <!-- <td><%#= link_to 'Edit', edit_snippet_path(snippet) %></td> -->
        <td><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snippet', new_snippet_path %>
