<p id="notice"><%= notice %></p>

<p>
  <strong>Snippet title:</strong>
  <%= @snippet.snippet_title %>
</p>

<p>
  <strong>Snippet description:</strong>
  <%= @snippet.snippet_description %>
</p>

<p>
  <strong>Snippet content:</strong>
  <%= @snippet.snippet_content %>
</p>

<!-- <p>
  <strong>Snippet view count:</strong>
  <%# @snippet.snippet_view_count %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> | -->
<%= link_to 'Back', "/index" %>
