<div class="row">
  <div class="col-xs-12 col-md-8"><h1><%= @snippet.snippet_title %></h1></div>
  <div class="col-xs-6 col-md-4"><i class="fa fa-heart"></i></div>
</div>

</table>


<p><%= @snippet.snippet_description %></p>
<p><%= raw @snippet.snippet_content %></p>

<!-- <td class="col-md-2"><%= @snippet.snippet_description %></td> -->
<!-- <td class="col-md-10"><%= raw @snippet.snippet_content %></td> -->

<!-- <%#= link_to 'Edit', edit_snippet_path(@snippet) %> | -->
<!-- <%#= link_to 'Back', "/index" %> -->

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="actions pull-left">
      <%= link_to "Back", "/index", :class => "button" %>
      <!-- TODO: Go back to personal snippets if request came from personal snippets -->
      <!-- <%= button_to "Back", "/index", :method => :get %> -->
    </div>
  </div>
</div>

<!-- HACK: Redirects to Heroku Dashboard page of the Application -->
<script>
  // $('.return_to_dashboard').click(function(){window.location.replace("http://rorsnippet.herokuapp.com/index");});
</script>
