<p id="notice"><%= notice %></p>

<h1><%= @snippet.snippet_title %></h1>

<table class="table">
  <thead>
    <th class="col-md-2"><h2>Snippet</h2></th>
    <th class="col-md-10"><h2>Description</h2></th>
  </thead>

  <tbody>
    <td class="col-md-2"><%= @snippet.snippet_content %></td>
    <td class="col-md-10"><%= @snippet.snippet_description %></td>
  </tbody>
</table>

<!-- <%#= link_to 'Edit', edit_snippet_path(@snippet) %> | -->
<%= link_to 'Back', "/index" %>
