<p id="notice"><%= notice %></p>

<h1><%= @snippet.snippet_title %></h1>

<p>
  <%= @snippet.snippet_description %>
</p>

<p>
  <%= @snippet.snippet_content %>
</p>

<!-- <%#= link_to 'Edit', edit_snippet_path(@snippet) %> | -->
<%= link_to 'Back', "/index" %>
