<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>ror snippets</title>
  </head>

  <body>

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page">
	  	<div class="container">
        <%= form_tag('/index', :class => 'form-login') do |f|%>
        <h2 class="form-login-heading">sign in now</h2>
        <div class="login-wrap">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<%= email_field_tag 'email', '', {class: 'form-control',:placeholder => "Email"}%>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<input id="password" name="password" type="password" class="form-control" placeholder="Password">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<font color="red"><%= flash[:invaliduser] %></font>
				</div>
			</div>
          <label class="checkbox">
              <span class="pull-right">
                  <a data-toggle="modal" href="login.html#forgotpw">Forgot Password?</a>
              </span>
          </label>
          <button class="btn btn-theme btn-block" href="/index" type="submit"><i class="fa fa-lock"></i>SIGN IN</button>

          <hr>

          <div class="login-social-link centered">
          <p>or you can sign in via your social network</p>
              <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
              <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
          </div>
          <div class="registration">
              Don't have an account yet?<br/><br/>
              <!-- <a class="" data-toggle="modal" href="login.html#registeruser"> -->
              <a class="" data-toggle="modal" href="/register" >
                <p class="createfont">  Create an account </p>
              </a>
          </div>
        </div>
        <% end %>
		      <!-- <form class="form-login" action="/index">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap">

                <input class="form-control" id="User ID" name="email" type="email" value="email@example.com" />
		            <br>
		            <input type="password" class="form-control" placeholder="Password">
		            <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="login.html#myModal">Forgot Password?</a>
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" href="/index" type="submit"><i class="fa fa-lock"></i>SIGN IN</button>

                <hr>

		            <div class="login-social-link centered">
		            <p>or you can sign in via your social network</p>
		                <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
		                <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
		            </div>
		            <div class="registration">
		                Don't have an account yet?<br/>
		                <a class="" href="/register">
		                    Create an account
		                </a>
		            </div>

		        </div> -->

		          <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgotpw" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <h4 class="modal-title">Forgot Password ?</h4>
		                      </div>
		                      <%= form_tag('/getinput', method:"post") do %>
		                      <div class="modal-body">
		                          <p>Enter your e-mail address below to reset your password.</p>
		                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="submit">Submit</button>
		                      </div>
		                      <% end %>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->

		          <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="registeruser" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <h4 class="modal-title">Sign Up</h4>
		                      </div>

							<%= form_tag("/getinput", method: "post") do %>
		                      <div class="modal-body">
		                      	<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										Enter your e-mail address
										<input type="text" id="email" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
										<div id="email_msg"></div>
									</div>

									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										Enter your Password
										<input type="password" id="reg_password" name="reg_password" placeholder="Password" autocomplete="off" class="form-control placeholder-no-fix">
										<div id="password_msg"></div>
									</div>
		                        </div>

		                        <div class="row">

		                        	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		                        		Enter your first name
										<input type="text" id="first_name" name="first_name" placeholder="First Name" autocomplete="off" class="form-control placeholder-no-fix">
									</div>

									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										Enter your last name
										<input type="text" id="last_name" name="last_name" placeholder="Last Name" autocomplete="off" class="form-control placeholder-no-fix">
		                      		</div>
		                      	</div>
		                      </div>


		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="submit">Submit</button>
		                      </div>
		                      <% end %>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->


		      <!-- </form> -->

	  	</div>
	  </div>
    <script>
        $.backstretch("<%= image_path("img/login-bg.jpg") %>", {speed: 500});
		$.ajax({
			type: 'post',
			data: { xx : "TEST" } ,
			headers: {
				'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
			},
			success: function(result)
			{
				console.log(result);
			},
			url: "/getinput"
		})
    </script>


  </body>
</html>
