<p id="notice"><%= notice %></p>

<h1>Listing Userfeedbacks</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Feedback</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userfeedbacks.each do |userfeedback| %>
      <tr>
        <td><%= userfeedback.email %></td>
        <td><%= userfeedback.feedback %></td>
        <td><%= link_to 'Show', userfeedback %></td>
        <td><%= link_to 'Edit', edit_userfeedback_path(userfeedback) %></td>
        <td><%= link_to 'Destroy', userfeedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userfeedback', new_userfeedback_path %>
