<!DOCTYPE html>
<html lan="en">
<head>
  <title>RoR Snippets</title>
  <meta property="og:title" content="RoR Snippets">
  <meta property="og:image" content="<%= image_url("banner.jpg")%>">
  <meta property="og:description" content = "Serving freshly made Ruby on Rail snippets since 2015">
  <!-- DO NOT DELETE -->
  <!-- <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff"> -->
  <!-- DO NOT DELETE -->
  <%= favicon_link_tag 'favicon.ico' %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
	<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
</head>

<body>
  <% if notice %>
    <p style="text-align: center;" class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <!-- <p class="alert alert-danger"><%# alert %></p> -->
    <p style="text-align: center;" class="alert alert-danger"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
