<!DOCTYPE html>
<html lan="en">
<head>
  <title>RoR Snippets</title>
  <meta property="og:title" content="RoR Snippets">
  <meta property="og:image" content="<%= image_url("banner.jpg")%>">
  <meta property="og:description" content = "Serving freshly made Ruby on Rail snippets since 2015">
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<body>
<div class="container">
  <%= yield %>
  <footer class="site-footer navbar-fixed-bottom">
    <div class="text-right">
      Copyright © 2015 RoR Snippets
    </div>
  </footer>
</div>
</body>
</html>
